<!DOCTYPE html>
<html lang="en" >
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Football</title>
    <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <p class="h5 my-0 me-md-auto fw-normal"><a href="home">SportNews</a></p>
        <nav class="my-2 my-md-0 me-md-3">
            <a class="p-2 text-dark" href="football">Football</a>
            <a class="p-2 text-dark" href="hockey">Hockey</a>
            <a class="p-2 text-dark" href="basketball">Basketball</a>
            <a class="p-2 text-dark" href="biathlon">Biathlon</a>
            <a class="p-2 text-dark" href="tennis">Tennis</a>
        </nav>

        <a class="btn btn-outline-primary" href="addNews">Add News</a>
    </header>

</head>

</head>
<body background="https://gamerwall.pro/uploads/posts/2021-11/1637071150_52-gamerwall-pro-p-prozrachnaya-tekstura-oboi-na-zastavku-52.jpg">
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <div id="comp_602a3dbd6a45b" class="grid-padding-20-15 _Sportbox_Spb2015_Components_ImportantNewsListBlock_ImportantNewsListBlock">
                <ul class="list">
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Russia/premier_league/spbnews_NI1313022_Loko_khochet_prodat_svojego_Davida_Luiza_Pravilno_li_eto" data-node-id="1313022">«Локо» хочет продать своего Давида Луиза. Правильно ли это?</a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/transfers/spbnews_NI1312816_Dvoje_Alijevyh_vozhak_volkov_i_zenitovec_s_potencialom_11_svobodnyh_agentov_dla_klubov_FNL" data-node-id="1312816">Двое Алиевых, вожак «волков» и зенитовец с потенциалом. 11 свободных агентов для клубов ФНЛ</a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Evropejskie_chempionaty/Italiya/spbnews_NI1312852_Aleksandr_Bubnov_Miranchuku_nuzhno_chashhe_vstrechatsa_s_machom" data-node-id="1312852">Александр Бубнов: «Миранчуку нужно чаще встречаться с мячом»<span class="comments"><span class="glyphicon glyphicon-comment"></span> 1</span></a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Russia/premier_league/spbnews_NI1312598_Spartak_ishhet_plan_B_Loko_rascvetajet_za_Krasnodar_trevozhno" data-node-id="1312598">«Спартак» ищет план Б, «Локо» расцветает, за «Краснодар» тревожно…<span class="comments"><span class="glyphicon glyphicon-comment"></span> 8</span></a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Russia/spbnews_NI1312370_Sergej_Agashkov_Spartak_vseh_vozil__krome_nas" data-node-id="1312370">Сергей Агашков: «Спартак» всех «возил» — кроме нас!<span class="comments"><span class="glyphicon glyphicon-comment"></span> 0</span></a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Evropejskie_chempionaty/spbnews_NI1312137_Sledim_za_nashimi_v_Jevrope_Rossijskoje_voskresenje_na_Sportboxru" data-node-id="1312137">Следим за нашими в Европе. Российское воскресенье на Sportbox.ru!<span class="comments"><span class="glyphicon glyphicon-comment"></span> 0</span></a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Evropejskie_chempionaty/Angliya/spbnews_NI1312088_Bejl__vso_Igroka_kotorogo_my_znali_bolshe_net" data-node-id="1312088">Бэйл — всё! Игрока, которого мы знали, больше нет<span class="comments"><span class="glyphicon glyphicon-comment"></span> 9</span></a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Russia/1st_division/spbnews_NI1312054_Krylja_probivajut_potolok_Kerzhakov_mnet_RPL_Fakel_zarabatyvajet_Glavnoje_za_nedelu_v_FNL" data-node-id="1312054">«Крылья» пробивают потолок, Кержаков мнет РПЛ, «Факел» зарабатывает. Главное за неделю в ФНЛ<span class="comments"><span class="glyphicon glyphicon-comment"></span> 1</span></a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/transfers/spbnews_NI1311863_Obnovlenije_CSKA_vozvrashhenije_Promesa_i_agonija_Tambova_Glavnyje_transfery_i_sluhi_zimy_v_RPL" data-node-id="1311863">Обновление ЦСКА, возвращение Промеса и агония «Тамбова»... Главные трансферы и слухи зимы в РПЛ<span class="comments"><span class="glyphicon glyphicon-comment"></span> 4</span></a>
                    </li>
                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Evropejskie_chempionaty/Germaniya/spbnews_NI1311798_Molodaja_simpatichnaja_komanda_iz_Dortmunda_ishhet_trenera_s_opytom" data-node-id="1311798">Молодая симпатичная команда из Дортмунда ищет тренера с опытом<span class="comments"><span class="glyphicon glyphicon-comment"></span> 3</span></a>
                    </li>


                    <li class="">
                        <a class="title " href="/Vidy_sporta/Futbol/Evropejskie_chempionaty/Germaniya/spbnews_NI1311798_Molodaja_simpatichnaja_komanda_iz_Dortmunda_ishhet_trenera_s_opytom" data-node-id="1311798">
                            <div th:each="el : ${posts}">
                                <h3 th:text="${el.title}"/>
                            </div>
                            <span class="comments"><span class="glyphicon glyphicon-comment"></span> </span></a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-sm-4"><img src="https://www.desktopbackground.org/download/1680x1050/2013/05/11/574295_ultra-hd-4k-ronaldinho-wallpapers-hd-desktop-backgrounds-3840x2400_3840x2400_h.jpg" class="card-img-top" alt="...">
            </nav>
            <a class="btn btn-outline-primary mt-5 " href="addNews">Add News</a>
        </div>
    </div>
</body>
</html>