<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Sign In</title>
</head>
<body style="background-color:#e3e0e0">
<div style="margin-left: 600px;margin-top: 30px;width: 258px">
<h2 style="padding-top:  40px">Please sign in</h2>
<form action="/login" method="post">
  <div ><label> <input type="text" name="email" placeholder="Username" style="width: 250px;height: 35px;margin-top: -12px;border-radius: 5px"/> </label></div>
  <div><label> <input type="password" name="password" placeholder="Password" style="width: 250px;height: 35px;margin-top: 20px;border-radius: 5px"/> </label></div>
  <div><input type="submit" value="Sign In" style="width: 259px;height: 40px;margin-top: 20px;background-color:#007bff;color: white;border-radius: 5px;font-size: 20px "/></div>
 <div style="width: 259px;height: 40px;margin-top: 20px;background-color:#007bff;color: white;border-radius: 5px;font-size: 20px " > <a href="registration" style="color: #e3e0e0;font-size: 35px;margin-left: 40px">Registration</button></a></div>
</form>
</div>
</body>
</html>



